extends ../layout/index
block content
    main.container.mt-5
        h1.text-center.mb-5 #{page}
        .row
            .col-md-12
                include ../layout/partials/comments
            .col-md-12
                h2.text-center Añada un Comentario
                if(errors)
                    each error in errors
                        .alert.alert-danger.text-center=error.message
                .row.justify-content-center
                    .col-md-8
                        form(action="/comments", method="POST")
                            .form-group
                                label(for="name") Nombre
                                input(id="name", type="text", name="name", placeholder="Nombre", class="form-control", value=name)
                            .form-group
                                label(for="email") Correo Eléctronico
                                input(id="email", type="email", name="email", placeholder="Correo Electrónico", class="form-control", value=email)
                            .form-group
                                label(for="message") Mensaje
                                textarea#message(name="message", rows="3", placeholder="Mensaje", class="form-control", value=message)
                            input.btn.btn-success.btn-block(type="submit", value="Añadir")